body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

@font-face{
   font-family: CursedTimerUlil-Aznm;
   src: url("CursedTimerUlil-Aznm.ttf");}

h3 {
    color: #EEEEEE;
    font-size: 40px;
    padding: 0;
    /* border: 1px solid green; */
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    color: #F94F6D;
    /* border: 1px solid orange; */
    font-size: 90px;
    margin:20px;
    width: 117px;
    height: 120px;
    font-family: CursedTimerUlil-Aznm;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 495px;
    height: 305px;
    margin: 0 auto;
    background: #1B244A;
    padding: 70px 80px;

}

#home-container {
    /* border: 1px solid blue; */
    width: 155px;
    height: 248px;
    padding-top: 0;
}

#guest-container {
    /* border: 1px solid yellow; */
    width: 155px;
    height: 248px;
}

.score-container {
    border: 1px solid pink;
    width: 155px;
    height: 120px;
    background: #080001;
}

.btn-container {
    /* display: flex; */
    margin-top: 25px;
    /* border: 1px solid magenta; */
}

.btn {
    color: #9AABD8;
    background: #1B244A;
    font-family: CursedTimerUlil-Aznm;
    height: 45px;
    width: 45px;
    font-size: 18px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding-top: 9px
}